*{
    box-sizing: border-box;
}

body{
    font: 15px sans-serif;
}

a{ 
    text-decoration: none;
    display: inline-block;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header_div {
    background: #f1f1f1;
    margin: -8px -8px 0 -8px;
}

/* Меню */

.header_menu{
    padding: 15px 0px 10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}

.header_logo-menu{
    display: flex;
    justify-content: space-between;
}

.header_logo img {
    padding-top: 7px;
    width: 100%;
}

.menu a{
    color: #008000;
    line-height: 36px;
    margin-bottom: 7px;
}

.menu li{
    display: inline-block;
    padding-left: 20px;
    font: 22px arial;
}

.header_menu ul li {
    float: left;
    padding: 8px;
}

/* Правила */

.rules_title {
    margin-bottom: 55px;
    text-align: center;
    font-family: 'Avenir Next';
    display: block;
    font-size: 54px;
    line-height: 72px;
}

.rule {
    display: flex;
}

.rule_left-img {
    margin-bottom: 50px;
}

.rule_right-img {
    margin-left: 145px;
    margin-bottom: 50px;
}

.rule_title {
    display: block;
}

.rules_item-title {
    font-family: 'Avenir Next';
    font-size: 32px;
    float: left;
    margin: 60px 0 30px 40px;
    display: block;
    color: rgba(21,39,53,.9);
}

.rules_item-description {
    display: block;
    float: left;
    margin-left: 40px;
    font-family: 'Proxima Nova Rg';
    font-size: 20px;
    color: rgba(21,39,53,.9);
}

.line {
    width: 100%;
    height: 1px;
    background: rgba(21,39,53,.1);
    margin: 5px auto 10px;
    display: block;
    margin-bottom: 50px;
}

/* Footer */

.footer {
    background-color: #f1f1f1;
    padding: 80px 0 60px;
    display: block;
    margin: 0 -8px 0 -8px;
}

.footer_row {
    display: flex;
    justify-content: space-around;
}

.footer_col {
    width: 30%;
    min-width: 260px;
    margin-bottom: 20px;
    display: block;
    color: #000000;
}

.footer_link {
    font-size: 17px;
    line-height: 27px;
    font-family: Roboto Medium, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #008000;
    margin-bottom: 10px;
    display: block;
}

.footer address {
    font-size: 16px;
    line-height: 27px;
    font-style: normal;
    display: block;
}

.footer address a {
    color: #000000;
    text-decoration: none;
}

.social, .rights {
    font-size: 16px;
    line-height: 27px;
    font-family: Roboto Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #2e2e2e;
    display: block;
    margin-bottom: 10px;
}

.wrapper_social-link {
    width: 210px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
