*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body{
    font: 15px sans-serif;
}

a{ 
    text-decoration: none;
    display: inline-block;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header_div {
    background: #f1f1f1;
    margin: -8px -8px 0 -8px;
}

/* Меню */

.header_menu{
    padding: 15px 0px 10px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
}

.header_logo-menu{
    display: flex;
    justify-content: space-between;
}

.header_logo img {
    padding-top: 7px;
    width: 100%;
}

.menu a{
    color: #008000;
    line-height: 36px;
    margin-bottom: 7px;
}

.menu li{
    display: inline-block;
    padding-left: 20px;
    font: 22px arial;
}

.header_menu ul li {
    float: left;
    padding: 8px;
}

/* Баннер */

.header_banner {
    width: 100%;
    display: block;
    margin-top: 100px;
}

.header_title {
    font-size: 54px;
    line-height: 72px;
    font-family: 'Avenir Next';
    font-style: normal;
    display: block;
}

.row_banner {
    justify-content: space-between;
    display: flex;
    margin-bottom: 160px;
}

.col_banner {
    display: block;
    float: right;
}

.col_banner img {
    width: 660px;
}

.col_banner-left {
    margin-top: 50px;
    display: block;
}

.row_banner p {
    font-size: 22px;
    line-height: 28px;
    margin: 0 0 11px;
    display: block;
}

/* Преимущства */

.pros {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.useful {
    padding: 15px;
    margin: 10px 0;
    text-align: center;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .7);
    box-sizing: border-box;
    border-radius: 16px;
    transition: all .3s;
    display: block;
    color: #000000;
    float: left;
    width: calc(25% - 20px);
}

.useful:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

.useful img {
    vertical-align: middle;
}

.useful_title {
    display: block;
    font-weight: 600;
    font-family: 'Avenir Next';
    font-size: 23px;
    color: #000000;
    margin: 10px 0 5px;
}

.line {
    width: 100px;
    height: 1px;
    background: #ccc;
    margin: 5px auto 10px;
    display: block;
}

.description {
    font-family: 'Proxima Nova Rg';
    font-size: 20px;
    margin-top: 12px;
    text-align: center;
    color: #000;
}

/* */

.useful_div {
    background: #556f70;
    margin-top: -40px;
    margin-left: -8px;
    margin-right: -8px;
}

.wrapper_useful-item {
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 104px;
}

.useful_item {
    width: calc(33% - 15px);
    margin-bottom: 0;
    padding-left: 0;
    display: block;
}

.useful_item-title {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    line-height: 30px;
}

.useful_item-descriprion {
    font-size: 18px;
    color: #fff;
    line-height: 22px;
    width: 80%;
}

.line_2 {
    width: 110px;
    height: 1px;
    background: #fff;
    margin: 10px 0;
    display: block;
}

/* Меню выбора авто */

.cars {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .car {
    margin: 0 10px; /* Задайте отступы между машинами по желанию */
    text-align: center;
  }

.cars_img {
    display: inline;
    float: left;
}

.title {
    text-align: center;
    font-family: 'Avenir Next';
    font-size: 30px;
    margin: 50px 0 0 0;
    color: #000000;
    border-radius: 16px;
}

/*Тарифы*/

.row_price {
    display: flex;
    justify-content: space-around;
}

.item_price {
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 6px 15px rgba(0,0,0,.25);
    width: calc(33.33333% - 20px);
}

.item_price:hover {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
    transition: 0.5s;
}

.price_top {
    padding: 20px;
    display: block;
    border-radius: 10px 10px 0 0;
}

#price_top1 {
    background: #4fb828;
}

#price_top2 {
    background: #26ae28;
}

#price_top3 {
    background: #229421;
}

.price_name {
    font-size: 30px;
    line-height: 35px;
    color: #fff;
    font-family: Roboto Light,sans-serif;
    font-weight: 300;
    display: block;
    padding-bottom: 15px;
}

.price_coast {
    font-size: 40px;
    line-height: 52px;
    display: block;
    color: #fff;
    font-family: Roboto Bold,sans-serif;
    font-weight: 700;
    padding-bottom: 8px;
}

.price_coast-descriprion {
    display: block;
    font-size: 26px;
    font-family: Roboto Light,sans-serif;
    font-weight: 300;
    color: #fff;
    line-height: 35px;
}

.price_description {
    font-size: 16px;
    line-height: 22px;
    margin-top: 30px;
    margin-bottom: 40px;
    height: 60px;
    color: #fff;
    font-family: Roboto Regular,sans-serif;
    font-weight: 400;
}

.price_bottom {
    display: block;
    padding: 20px;
}

.price_event {
    width: 100%;
    margin-bottom: 16px;
    display: block;
}

.event_name {
    font-size: 16px;
    line-height: 22px;
    font-family: Roboto Regular,sans-serif;
    font-weight: 400;
    display: inline-block;
    color: #2e2e2e;
    width: 62%;
}

.event_coast {
    font-family: Roboto Regular,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #2e2e2e;
    width: 35%;
    display: inline-block;
    vertical-align: top;
}

/* Паркинг */

.pay_parking {
    background: #ffffff;
    margin: 0 -8px 80px -8px;
    padding-top: 120px;
    padding-bottom: 160px;
}

.pay_parking span {
    font-family: Roboto Black, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 92px;
    line-height: 110px;
    color: #c4c4c4;
    display: block;
}

.img_parking {
    width: 48%;
    min-width: 400px;
    height: auto;
    margin-top: -405px;
    max-width: 778px;
    vertical-align: middle;
    float: right;
}

/* Footer */

.footer {
    background-color: #f1f1f1;
    padding: 80px 0 60px;
    display: block;
    margin: 0 -8px 0 -8px;
}

.footer_row {
    display: flex;
    justify-content: space-around;
}

.footer_col {
    width: 30%;
    min-width: 260px;
    margin-bottom: 20px;
    display: block;
    color: #000000;
}

.footer_link {
    font-size: 17px;
    line-height: 27px;
    font-family: Roboto Medium, sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #008000;
    margin-bottom: 10px;
    display: block;
}

.footer address {
    font-size: 16px;
    line-height: 27px;
    font-style: normal;
    display: block;
}

.footer address a {
    color: #000000;
    text-decoration: none;
}

.social, .rights {
    font-size: 16px;
    line-height: 27px;
    font-family: Roboto Regular, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #2e2e2e;
    display: block;
    margin-bottom: 10px;
}

.wrapper_social-link {
    width: 210px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

/* Footer */