@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular"),
    url(/Green_Cars/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Lato";
  src: local("Lato-Regular"), url(/Green_Cars/fonts/Lato/Lato-Regular.ttf);
}

:root {
  --var-body-bg: #f1f1f1;
  --var-body-fc: black;
  --var-body-uf: white;
}

[dark] {
  --var-body-bg: #988b8e;
  --var-body-fc: #f1f1f1;
  --var-body-uf: #f1f1f1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  color: var(--var-body-fc);
  background: var(--var-body-bg);
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

header {
  margin: -8px -8px 0 -8px;
  padding-top: 30px;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo img {
  width: 100%;
  margin-bottom: 8px;
}

.header_logo img:hover {
  transform: scale(1.1);
}

.menu {
  display: flex;
  font-weight: 500;
  font-size: 20px;
}

.menu a {
  color: var(--var-body-fc);
  position: relative;
}

.menu a:hover {
  color: #690c91;
}

.menu a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: #690c91;
  transition: width 0.3s ease-in-out;
  transform-origin: center;
}

.menu a:hover::before {
  width: 100%;
}

.menu li {
  display: inline-block;
}

.header_menu ul li {
  padding: 0px 15px;
}

.theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-top: 8px;
}

.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-label {
  cursor: pointer;
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background: #690c91;
}

.checkbox-label:before {
  position: absolute;
  left: 2px;
  top: 2px;
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  transition: 0.3s;
}

.checkbox:checked + .checkbox-label {
  background-color: #000000;
}

.checkbox:checked + .checkbox-label:before {
  left: calc(100% - 19px);
}

.header_banner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 150px;
}

.pidor {
  display: flex;
  flex-direction: column;
}

.header_title {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: "Poppins";
  font-style: normal;
  max-width: 600px;
  margin-top: 124px;
}

.header_text {
  font-size: 20px;
  font-weight: 400;
  line-height: 2;
}

.col_banner {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}

.col_banner img {
  width: 600px;
}

.pros {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  font-family: "Poppins";
  font-style: normal;
}

.useful {
  padding: 15px;
  margin: 10px 0;
  text-align: center;
  background: var(--var-body-uf);
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  border-radius: 16px;
  transition: all 0.3s;
  display: block;
  color: var(--var-body-fc);
  float: left;
  width: calc(25% - 20px);
}

.useful:hover {
  transform: scale(1.1);
}

.useful img {
  vertical-align: middle;
}

.useful_title {
  display: block;
  font-weight: 600;
  font-family: "Poppins";
  font-size: 23px;
  color: black;
  margin: 10px 0 5px;
}

.line {
  width: 100px;
  height: 1px;
  background: black;
  margin: 5px auto 10px;
  display: block;
}

.description {
  font-family: "Poppins";
  font-size: 20px;
  margin-top: 12px;
  text-align: center;
  color: black;
}

.useful_div {
  margin-top: 150px;
  margin-bottom: 100px;
}

.wrapper_useful-item {
  padding-top: 60px;
  padding-bottom: 60px;
}

.first_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.useful_item.one {
  width: 50%;
  padding-left: 0;
}

.useful_img.one {
  display: flex;
  justify-content: flex-end;
  margin-right: 60px;
  margin-top: -120px;
}

.useful_img.one img {
  width: 400px;
}

.useful_item.two {
  width: 50%;
  padding-left: 0;
  margin-right: -20px;
}

.useful_img.two {
  margin-left: 60px;
  margin-top: -60px;
}

.useful_img.two img {
  width: 350px;
}

.second_item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 150px;
}

.useful_item.three {
  width: 50%;
  padding-left: 0;
}

.third_item {
  display: flex;
  justify-content: space-between;
}

.useful_img.three {
  margin-right: 100px;
  margin-top: -120px;
}

.useful_img.three img {
  width: 400px;
}

.useful_item-descriprion {
  font-size: 20px;
  color: var(--var-body-fc);
  line-height: 25px;
  width: 100%;
}

.carousel-wrapper {
  height: 400px;
  position: relative;
  width: 800px;
  margin: 0 auto;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow {
  border: solid var(--var-body-fc);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}

.arrow-prev {
  left: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.arrow-next {
  right: -30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.light {
  color: white;
}

@media (max-width: 480px) {
  .arrow,
  .light .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}

/*Select every element*/
[id^="item"] {
  display: none;
}

.item-1 {
  z-index: 2;
  opacity: 1;
  background: url("/Курсовая_ЭВТ/img/car1.png") center center / contain no-repeat;
}

.item-2 {
  background: url("/Курсовая_ЭВТ/img/car2.png") center center / contain no-repeat;
}

.item-3 {
  background: url("/Курсовая_ЭВТ/img/car3.png") center center / contain no-repeat;
}

.item-4 {
  background: url("/Курсовая_ЭВТ/img/car4.png") center center / contain no-repeat;
}

.item-5 {
  background: url("/Курсовая_ЭВТ/img/car5555.webp") center center / contain
    no-repeat;
}

*:target ~ .item-1 {
  opacity: 0;
}

#item-1:target ~ .item-1 {
  opacity: 1;
}

#item-2:target ~ .item-2,
#item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
}

#item-3:target ~ .item-3,
#item-4:target ~ .item-4 {
  z-index: 3;
  opacity: 1;
}

#item-4:target ~ .item-4,
#item-5:target ~ .item-5 {
  z-index: 3;
  opacity: 1;
}

#auto {
  padding-bottom: 50px;
}

.cars {
  margin-bottom: 120px;
}

#tariffs {
  padding-bottom: 30px;
}

.title {
  text-align: center;
  font-family: "Poppins";
  font-size: 30px;
  margin: 50px 0 0 0;
  color: var(--var-body-fc);
  border-radius: 16px;
}

.row_price {
  display: flex;
  justify-content: space-around;
}

.item_price {
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  width: calc(33.33333% - 20px);
}

.item_price:hover {
  -webkit-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
  transition: 0.5s;
}

.price_top {
  padding: 20px;
  display: block;
  border-radius: 10px 10px 0 0;
}

#price_top1 {
  background: #7a28b8;
}

#price_top2 {
  background: #652099;
}

#price_top3 {
  background: #511a7b;
}

.price_name {
  font-size: 30px;
  line-height: 35px;
  color: #fff;
  font-family: "Poppins-Light", sans-serif;
  font-weight: 300;
  display: block;
  padding-bottom: 15px;
}

.price_coast {
  font-size: 40px;
  line-height: 52px;
  display: block;
  color: var(--var-body-uf);
  font-family: "Poppins-Bold", sans-serif;
  font-weight: 700;
  padding-bottom: 8px;
}

.price_coast-descriprion {
  display: block;
  font-size: 26px;
  font-family: "Poppins-Light", sans-serif;
  font-weight: 300;
  color: var(--var-body-uf);
  line-height: 35px;
}

.price_description {
  font-size: 16px;
  line-height: 22px;
  height: 30px;
  color: var(--var-body-uf);
  font-family: "Poppins-Regular", sans-serif;
  font-weight: 400;
}

.price_bottom {
  display: block;
  padding: 20px;
}

.price_event {
  width: 100%;
  margin-bottom: 16px;
  display: block;
}

.event_name {
  font-size: 16px;
  line-height: 22px;
  font-family: "Poppins-Regular", sans-serif;
  font-weight: 400;
  display: inline-block;
  color: #2e2e2e;
  width: 62%;
}

.event_coast {
  font-family: "Poppins-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #2e2e2e;
  width: 35%;
  display: inline-block;
  vertical-align: top;
}

.pay_parking {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 100px;
}

.pay_parking span {
  font-family: "Poppins-Black", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  color: #c4c4c4;
}

.img_parking {
  display: flex;
  justify-content: flex-end;
  margin-right: -150px;
}

.img_parking img {
  width: 900px;
  animation: drive 15s linear infinite;
  z-index: -1;
}

@keyframes drive {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-1500px);
  }
}

.map {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 100px;
}

.map iframe {
  width: 50%;
  height: 500px;
}

.map_description {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}

.map_description a {
  text-decoration: none;
  color: #690c91;
  position: relative;
}

.map_description a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: #690c91;
  transition: width 0.3s ease-in-out;
  transform-origin: center;
}

.map_description a:hover::before {
  width: 100%;
}

footer {
  display: block;
}

.footer_row {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.footer_col {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 20px;
  color: var(--var-body-fc);
}

.footer_col.four {
  margin-right: -60px;
}

.footer_col.one a {
  font-size: 16px;
  line-height: 27px;
  font-style: normal;
  color: var(--var-body-fc);
  position: relative;
  margin-bottom: 10px;
  display: block;
}

.footer_col.one a:hover {
  color: #690c91;
  transform: scale(1.1);
}

footer address {
  font-size: 16px;
  line-height: 27px;
  font-style: normal;
  display: block;
}

footer address a {
  color: var(--var-body-fc);
  text-decoration: none;
}

footer address a:hover {
  color: #690c91;
  transform: scale(1.1);
}

.social,
.rights {
  font-size: 16px;
  line-height: 27px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--var-body-fc);
  display: block;
  margin-bottom: 10px;
}

.wrapper_social-link {
  width: 175px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.wrapper_social-link img {
  width: 35px;
  height: 35px;
}

.wrapper_social-link img:hover {
  transform: scale(1.1);
}

#menu_toggle {
  opacity: 0;
}

.menu_btn {
  display: flex;
  align-items: center;
  position: fixed;
  visibility: hidden;
  top: 35px;
  left: 95%;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 21;
} 

.menu_btn > span,
.menu_btn > span::before,
.menu_btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #040303;
  
}

.menu_btn > span::before {
  content: "";
  top: -8px;
}

.menu_btn > span::after {
  content: "";
  top: 8px;
}

.menu_box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: 300px;
  width: 280px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background: #690c91;
  z-index: 20;
}

.menu_items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu_item {
  display: block;
  padding: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #f1f1f1;
}

.menu_item:hover {
  background-color: #cfd8dc;
}

#menu_toggle:checked ~ .menu_btn > span {
  transform: rotate(45deg);
}
#menu_toggle:checked ~ .menu_btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu_toggle:checked ~ .menu_btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu_toggle:checked ~ .menu_box {
  visibility: visible;
  right: 0;
}

.hamburger-menu {
  display: none;
}

.menu_box img{
  width: 250px;
  height: 100px;
}

.pros img{
  width: 90px;
  height: 90px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    max-width: 700px;
  }

  .header_logo,
  .menu {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .menu_btn {
    visibility: visible;
  }

  .header_banner {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .header_title {
    font-size: 36px;
    margin-bottom: 10px;
    max-width: 100%;
    margin-top: 70px;
    text-align: center;
  }

  .header_text {
    text-align: center;
  }

  .col_banner {
    justify-content: center;
    margin-top: 50px;
  }

  .pros {
    flex-wrap: wrap;
  }

  .useful {
    width: calc(50% - 20px);
    margin: 10px;
  }

  .line {
    width: 250px;
  }

  .wrapper_useful-item {
    padding-top: 20px;
    margin-top: -70px;
  }

  .first_item,
  .third_item {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .second_item {
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: -50px;
  }

  .useful_item.one,
  .useful_item.two,
  .useful_item.three {
    width: 100%;
    text-align: center;
  }

  .useful_item.two,
  .useful_item.three {
    margin-bottom: 20px;
  }

  .useful_img.one {
    justify-content: center;
    margin-right: 0px;
    margin-top: -30px;
  }

  .useful_img.two,
  .useful_img.three {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .useful_img.one img {
    height: 350px;
    width: 350px;
  }

  #auto.title {
    margin-top: -80px;
  }

  #auto {
    padding-bottom: 0px;
  }

  .carousel-wrapper {
    width: 600px;
  }

  .cars {
    margin-bottom: 20px;
  }

  .row_price {
    flex-direction: column;
    align-items: center;
  }

  .item_price {
    width: 80%;
  }

  .price_name,
  .price_coast,
  .price_coast-descriprion,
  .price_description {
    text-align: center;
  }

  .event_name,
  .event_coast {
    width: 49%;
    text-align: center;
  }

  .desc {
    margin-bottom: 40px;
    text-align: center;
  }

  .pay_parking {
    padding-top: 80px;
    padding-bottom: 50px;
    flex-direction: column;
  }

  .img_parking {
    justify-content: center;
    margin-right: 0px;
  }

  .img_parking img {
    animation: none;
    width: 700px;
  }

  .map {
    flex-direction: column-reverse;
  }

  .map_description {
    text-align: justify;
    width: 100%;
  }

  .map iframe {
    width: 100%;
  }

  .footer_row {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .footer_col {
    text-align: center;
  }

  .footer_col.four {
    margin-right: 0px;
  }
}

@media (min-width: 380px) and (max-width: 767px) {
  .container {
    max-width: 320px;
  }

  .header_logo,
  .menu {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .menu_btn {
    visibility: visible;
    left: 90%;
  }
  
  .checkbox-label {
    cursor: pointer;
    position: relative;
    display: block;
    width: 30px;
    height: 15px;
    border-radius: 20px;
    background: #690c91;
  }
  
  .checkbox-label:before {
    left: 1px;
    top: 1px;
    width: 13px;
    height: 13px;
  }
  
  .checkbox:checked + .checkbox-label:before {
    left: calc(100% - 14px);
  }

  .theme span{
    font-size: 14px;
  }

  .header_banner {
    flex-direction: column;
    margin-bottom: 50px;
  }

  .header_title {
    font-size: 30px;
    margin-bottom: 10px;
    max-width: 100%;
    margin-top: 50px;
    text-align: center;
  }

  .header_text {
    text-align: center;
    font-size: 14px;
  }

  .col_banner {
    justify-content: center;
    margin-top: 20px;
  }

  .col_banner img {
    width: 320px;
  }

  #pros.title {
    font-size: 24px;
  }

  .pros {
    flex-wrap: wrap;
  }

  .useful {
    width: calc(100% - 50px);
    margin: 10px;
  }

  .line {
    width: 200px;
  }

  .wrapper_useful-item {
    padding-top: 20px;
    margin-top: -70px;
    padding-bottom: 10px;
  }

  .first_item,
  .third_item {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .second_item {
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: -50px;
  }

  .useful_item.one,
  .useful_item.two,
  .useful_item.three {
    width: 100%;
    text-align: justify;
  }

  .useful_item.one h1,
  .useful_item.two h1,
  .useful_item.three h1 {
    font-size: 24px;
  }

  .useful_item-descriprion {
    font-size: 16px;
  }

  .useful_item.two,
  .useful_item.three {
    margin-bottom: 20px;
  }

  .useful_img.one {
    justify-content: center;
    margin-right: 0px;
    margin-top: -30px;
  }

  .useful_img.two,
  .useful_img.three {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .useful_img.one img,
  .useful_img.two img,
  .useful_img.three img {
    height: 300px;
    width: 300px;
  }

  #auto.title {
    margin-top: -80px;
    margin-bottom: -30px;
    font-size: 26px;
  }

  #auto {
    padding-bottom: 0px;
  }

  .carousel-wrapper {
    width: 280px;
    height: 300px;
  }

  .arrow-next {
    right: -20px;
  }

  .arrow-prev {
    left: -20px;
  }

  .cars {
    margin-bottom: -20px;
  }

  #tariffs.title {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: -10px;
  }

  .row_price {
    flex-direction: column;
    align-items: center;
  }

  .item_price {
    width: 80%;
  }

  .price_top {
    padding-bottom: 30px;
  }

  #price_top2 {
    padding-bottom: 50px;
  }

  .price_name,
  .price_coast,
  .price_coast-descriprion,
  .price_description {
    text-align: center;
  }

  .price_name,
  .price_coast-descriprion {
    font-size: 24px;
  }

  .price_coast {
    font-size: 34px;
  }

  .price_description {
    font-size: 14px;
  }

  .event_name {
    width: 39%;
    text-align: left;
    font-size: 14px;
  }

  .event_coast {
    width: 59%;
    font-size: 14px;
    text-align: right;
  }

  .desc {
    margin-bottom: 40px;
    text-align: center;
  }

  .desc span {
    font-size: 36px;
  }

  .pay_parking {
    padding-top: 30px;
    padding-bottom: 30px;
    flex-direction: column;
  }

  .img_parking {
    justify-content: center;
    margin-right: 0px;
  }

  .img_parking img {
    animation: none;
    width: 350px;
  }

  .map {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .map_description {
    text-align: justify;
    width: 100%;
  }

  .map iframe {
    width: 100%;
  }

  .footer_row {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .footer_col {
    text-align: center;
  }

  .footer_col.four {
    margin-right: 0px;
  }
}
